* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

/* Header */
header {
  padding: 20px 40px;
}

.logo {
  width: 100px;
}

/* Reset Box */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.reset-box {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  width: 500px;
  height: auto;
  border-radius: 6px;
  padding: 25px;
  text-align: center;
  position: relative;
}

.back-arrow {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.reset-box h4 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.reset-box input {
  width: 90%;
  padding: 6px;
  margin-bottom: 15px;
  border: 1px solid #dcdcdc;
  outline: none;
  transition: border 0.3s;
}

.reset-box input.invalid {
  border: 1px solid red;
}

.reset-box .error {
  color: red;
  font-size: 12px;
  display: none;
  margin-bottom: 10px;
}

.reset-box button {
  background-color: #00bcd4;
  color: white;
  border: none;
  width: 90%;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

/* ===== FOOTER ===== */
footer {
  background: #e6e6e6;
  padding: 50px 70px 25px;
  color: #000;
  min-height: 200px;
  margin: 0;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 24px;
  min-height: 150px;
}

.footer-left,
.footer-center,
.footer-right {
  min-width: 220px;
}

/* LEFT SECTION */
.footer-left h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left li {
  margin-bottom: 5px;
}

.footer-left a {
  text-decoration: none;
  color: #000;
}

.footer-left a:hover {
  color: #10bfc9;
}

/* CENTER SECTION */
.footer-center {
  text-align: center;
  justify-self: center;
}

.footer-center img {
  width: 100px;
}

.footer-center p {
  font-size: 13px;
}

/* RIGHT SECTION */
.footer-right {
  text-align: right;
}

.footer-right h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-right li {
  margin-bottom: 6px;
}

.footer-right .contact-info {
  margin: 10px 0 0;
}

.footer-right .contact-info p {
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.5;
}

/* FOOTER BOTTOM */
.footer-bottom {
  text-align: center;
  font-weight: 600;
  margin-top: 0;
  border-top: 1px solid #d1d1d1;
  padding-top: 10px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .booking-layout {
    grid-template-columns: 1fr;
  }

  .map-container {
    height: 200px;
  }
}